* {
	margin: 40px;
}
body {
	background-color: black;
}
h1 {
	color: #ACC7B4;
	padding-bottom: 10px;

	border-bottom: 2px solid #ACC7B4;
}
p {
	min-width: 500px;

	background-color: #ACC7B4;

	padding: 25px;

	border-left: 4px solid #331B3F;
	outline: 15px solid #ACC7B4;

	color: #331B3F;
	font-weight: bold;
}
div {
	min-width: 500px;

	color: #331B3F;
	font-weight: bold;
	
	padding: 25px;
	outline: 15px solid #ACC7B4;
	background-color: #ACC7B4;
	
	display: flex;
	flex-direction: column;
}
button {
	width: 150px;
	padding: 10px;
	border-radius: 30px;

	background-color: #331B3F;
	color: white;
	font-weight: bold;

	margin: 10px 40px;
}
img {
	border: 2px dashed black;
	border-radius: 10px;
	padding: 10px;
}
span {
	font-size: 20px;
	margin: 0px;
	margin-bottom: 20px;
}

#mycanvas {
	background-color: white;
	width: 256px;
	height: 256px;
	
	border: 2px dashed black;
	border-radius: 10px;
	padding: 10px;
}