<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/public/css/style.css">
	<script src="https://releases.jquery.com/git/jquery-3.x-git.min.js"></script>
	<script src="../static/public/js/main.js" type="module"></script>
	<title>Opensource Project</title>
</head>
<body>
	<h1>Edges 2 Shoes</h1>
	<p>
		This page is for testing edges2shoes model with the drawing 
	</p>
	<p>
		You can upload your own drawings or draw now and test directly
	</p>
	<div>
		<span>Upload Area - Now Developing</span>
		<form method="POST" action="/upload" enctype="multipart/form-data">
			<input type="file" name="image">
			<input type="submit" value="Upload">
		</form>
		<img src="{{url_for('static', filename = 'img/'+filename.split('/')[-1] if filename else filename )}}" alt="아직 업로드된 파일이 없습니다.">
		<form method="POST" action="/convert" enctype="multipart/form-data">
			<button id="convert-upload">Convert</button>
		</form>
		<img src="" alt="아직 변환되지 않았습니다.">
	</div>
	<div>
		<span>Drawing Area</span>
		<button id="reset">Reset</button>
		<canvas width="256" height="256" id="mycanvas">
		</canvas>
		<button id="convert-draw">Convert</button>
		<img src="" alt="아직 변환되지 않았습니다.">
	</div>
</body>
</html>