<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/public/css/style.css">
	<script src="https://releases.jquery.com/git/jquery-3.x-git.min.js"></script>
	<script src="../static/public/js/draw.js"></script>
	<script src="../static/public/js/main.js"></script>
	<title>Opensource Project</title>
</head>
<body>
	<h1>Edges 2 Shoes</h1>
		<p>
			This page is for testing edges2shoes model with the drawing 
	</p>
	<p>
		You can upload your own drawings or draw now and test directly
	</p>
	<div>
		<span>Upload Area</span>
		<form method="POST" enctype="multipart/form-data">
			<input type="file" name="image" id="imageInput">
			<button type="button" onclick="uploadImage()">업로드</button>
		</form>
		<!-- upload 버튼을 누르면 동적으로 이미지가 출력됨 -->
		<img id="uploadedImage" src="" alt="Uploaded Image">
		
		<button id="convert-upload" onclick="sendImageToServer()">Convert</button>
		<img src="" alt="아직 변환되지 않았습니다." id="convertedResult">
	</div>
	<div>
		<span>Drawing Area</span>
		<button id="reset">Reset</button>
		<canvas width="256" height="256" id="mycanvas">
		</canvas>
		<button id="convertDraw">Convert</button>
		<img src="" alt="아직 변환되지 않았습니다.">
	</div>

	<!-- UPLOAD -->
	<script>
        function uploadImage() {
            var imageInput = document.getElementById('imageInput');
            var uploadedImage = document.getElementById('uploadedImage');

            // 이미지 파일 선택이 되었는지 확인
            if (imageInput.files && imageInput.files[0]) {
                var reader = new FileReader();

                // 파일 읽기가 완료된 후 실행될 콜백 함수
                reader.onload = function(e) {
                    uploadedImage.src = e.target.result;
                };

                // 이미지 파일을 읽기
                reader.readAsDataURL(imageInput.files[0]);
            }
        }
    </script>
	<!-- UPLOAD CONVERT -->
	<script>
        function sendImageToServer() {
            // 이미지 요소를 가져옴
            var imgElement = document.getElementById("uploadedImage");

            // 이미지 데이터를 추출
            var canvas = document.createElement("canvas");
            canvas.width = 256;
            canvas.height = 256;
            var context = canvas.getContext("2d");
            context.drawImage(imgElement, 0, 0);
            var imageDataURL = canvas.toDataURL("image/jpeg");
			var convertImage = document.getElementById('convertedResult')

            // 이미지 데이터를 서버로 전송
            fetch('/upload', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: 'imageData=' + encodeURIComponent(imageDataURL)
            })
            .then(response => response.json())
			.then(data => {
				console.log('서버 응답:', data);

				fetch('/get_image')
					.then(response => response.blob())
					.then(blob => {
						// Blob을 이미지로 변환
						const imgURL = URL.createObjectURL(blob);
						// 이미지를 화면에 표시
						convertImage.src = imgURL;
					  })
					.catch(error =>{
						console.error('error', error)
					})
			})
            .catch(function(error) {
                console.error('이미지 전송 실패:', error);
            });
        }
    </script>
</body>
</html>